<div id="button">
	<div class="icon">
		<a href="__URL__/index">
			<img src="__IMG__/homepage.png" >
		</a>
		<span class="active">主页面</span>
	</div>
	<div class="icon">
		<a href="__URL__/goods1">
			<img src="__IMG__/goods.png" >
		</a>
		<span>分类</span>
	</div>
	<div class="icon">
		<a href="__URL__/myfx">
			<img src="__IMG__/icon-kin.png" >
		</a>
		<span>微商</span>
	</div>
	<div class="icon">
		<a href="__URL__/shopcat">
			<img src="__IMG__/cart.png" >
		</a>
		<span>购物车</span>
	</div>
	<div class="icon">
		<a href="__URL__/my">
			<img src="__IMG__/my.png" >
		</a>
		<span>我的</span>
	</div>
</div>