<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
		<link rel="stylesheet" type="text/css" href="__CSS__/my.css"/>
		<link rel="stylesheet" type="text/css" href="__CSS__/button.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script type="text/javascript" src="__JS__/jquery.min.js"></script>
		<title></title>
	</head>
	<body>
		<div id="my">
			<div class="head">
				<div class="main-img">
					<img src="__IMG__/pic.png"/>
				</div>
				<div class="name">
					<p>{{items.username}}</p>
					<span v-if="items.kind ==  '1'">大众会员</span>
					<span v-if="items.kind ==  '2'">青铜会员</span>
					<span v-if="items.kind ==  '3'">黄金会员</span>
					<span v-if="items.kind ==  '4'">铂金会员</span>
					<span v-if="items.kind ==  '5'">钻石会员</span>
					<img class="vip1" src="__IMG__/vip/1dz.png">
					<img class="vip2" src="__IMG__/vip/v1.png"/>
				</div>
			</div>
			<div class="center">
				<div class="order" >
					<p>我的订单</p>
					<a href="__URL__/orderforgoods" class="back"><span></span></a>
				</div>
			</div>
			<div class="menu">
				<p></p>
				<ul>
					<li><a href="__URL__/myvip"><img src="__IMG__/vip.png"/></a><br/>
					<span>我的VIP</span></li>
					<li><a href="#"><img src="__IMG__/mes3.png"/></a><br/>
						<span>个人信息</span></li>
					<li><a href="__URL__/shopcat"><img src="__IMG__/cart1.png"/></a><br/>
						<span>购物车</span></li>
					<li><a href="__URL__/open"><img src="__IMG__/safe1(1).png"/></a><br/>
						<span>信息安全</span></li>
				</ul>
			</div>
			{include file="common/bottom" /} 
		</div>
		<script>
			var user_id="{$data.user_id}";
			var token="{$data.token}";

			var vm=new Vue({
				el:"#my",
				data:{
					items:null
				}
			});
			
			$(document).ready(function () {
				checkLogin();
				$.ajax({
					url: 'http://localhost/pcwxapi/public/index.php/user/user/getUserInfo',
					data: {
						user_id: user_id,
						user_token: token
					},
					type: 'post',
					success: function (data) {
						var obj=JSON.parse(data)
						vm.items=obj.data;
					},
					error: function () {
						alert('error');
					}
				})
			});
			function checkLogin() {
				if (user_id != "" && token != "") {
					$.ajax({
						url: 'http://localhost/pcwxapi/public/index.php/user/user/isLogin',
						data: {
							user_id: user_id,
							user_token: token
						},
						type: 'post',
						success: function (data) {
							var obj = JSON.parse(data);
							if (obj.code == '100') {
								window.location.href = 'http://localhost/ydwxfx/public/index.php/index/index/login';
							}
						},
						error: function (data) {
							alert('error');
						}
					})
				} else {
					window.location.href = 'http://localhost/ydwxfx/public/index.php/index/index/login';
				}
			}
		</script>
	</body>
</html>
