<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=0" />
		<link rel="stylesheet" type="text/css" href="__CSS__/opening.css"/>
		<title></title>
	</head>
	<body>
		<div id="open">
			<div class="header">
				<h1>开店完成</h1>
				<a href="__URL__/my" class="back"><span></span></a>
			</div>
			<div class="tysi">
				<div class="tish1">
					<h2>新手必读：</h2>
					<p>亲，您的VIP达到三级以上，可以开启分销店铺。</p>
					<p>开启分销店铺的注意与流程：</p>
					<p>1、开启分销店铺必须填写本人的手机号码与真实姓名</p>
					<p>2、在您开启的分销店铺中所卖的东西可以获取提成</p>
					<p>3、您店铺中的东西是总店所有物，一切解释权归总店所有</p>
				</div>
			</div>
			<div id="opening">
			    <div class="shop-open">
			    	<img src="__IMG__/open/mall.png">
			    	<div class="shop-mes">
			    		<span>店铺信息：</span>
			    		<p>升第三代阿萨德</p>
			    		<p>21312312312331</p>
			    	</div>
			    </div>
				<div class="daiyan">
					<a href="represent"><span>代言中心</span></a><br/>
					</div>
					<div class="tianjia">
					<a href="represent"><span>店铺还没有商品，去添加</span></a>
				</div>
			</div>
		</div>
	</body>
</html>
